:root {
    --color-main: #333333;
    --color-light: #ffffff;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--color-main);
}

/*Utils*/
.hide {
    display: none !important;
}

.image-fluid {
    width: 100%;
}

.circle-img {
    border-radius: 50%;
}

/*Header*/

.main-header {
    position: relative;
}

.main-header .header-mobile {
    position: fixed;
    z-index: 1;
    color: var(--color-light);
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .6);
}

.main-header nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--color-main);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    z-index: 2;
    overflow: hidden;
}

.main-header nav .fa-bars {
    display: none;
}

.main-header ul {
    list-style: none;
    padding: 0;
}

.main-header li {
    color: var(--color-light);
}

.main-header li span {
    display: none;
    margin-left: 1rem;
    white-space: nowrap;
}

.main-header li a {
    text-decoration: none;
    color: inherit;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.main-header li a.active {
    background-color: #595959;
}

.main-header li i {
    font-size: 1.5rem;
    width: 2rem;
    text-align: center;
}

.main-header nav.active {
    width: 200px;
}

.header-bars {
    color: var(--color-light);
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem;
}

.main-header nav.active li span {
    display: inline-block;
}

.main-header nav.active li a {
    justify-content: start;
}

.main-header nav.active .header-bars {
    text-align: left;
}

/*Sections*/

section#home,
section header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

section#home {
    height: 100vh;
    background-image: url("../assets/home-background.jpg");
    background-position: center 80%;
}

section#home::after,
section header::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color-main);
    opacity: 0.5;
}

section#home .title-wrapper,
section header h2 {
    z-index: 1;
    color: var(--color-light);
    text-align: center;
}

section#home h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin: 0;
}

section#home p {
    font-size: 1.5rem;
    margin: 0;
}

.content-wrapper section {
    min-height: 100vh;
}

section header {
    height: 30vh;
    background-position: center center;
}

section header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

section#introduce header {
    background-color: transparent;
}

section#introduce header h2 {
    color: var(--color-main);
}

section#introduce header::after {
    content: none;
}

section#studies header {
    background-image: url("../assets/studies.jpg");
}

section#experience header {
    background-image: url("../assets/experience.jpg");
}

section#about header {
    background-image: url("../assets/about.jpg");
}

section#contact header {
    background-image: url("../assets/contact.jpg");
}

section > article,
section .studies-wrapper,
section .experience-wrapper,
section .about-wrapper {
    padding: 1rem 2rem;
}

section .introduce-wrapper {
    display: block;
}

section .introduce-paragraph {
    width: 100%;
    line-height: 1.7;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    text-align: center;
}

section .studies-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section .studies-wrapper article {
    width: 100%;
    margin: 1rem 0;
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: 0 6px 24px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 6px 24px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 6px 24px -5px rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
    padding: 1rem;
}

section .experience-wrapper {
    display: flex;
    justify-content: center;
    min-height: 60vh;
    align-items: center;
}

section .experience-wrapper article {
    border-left: 6px solid #ddd;
    padding: 1rem;
    width: 100%;
    display: inline-block;
}

section .experience-wrapper h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

section .experience-wrapper ul {
    list-style: circle;
    margin-bottom: 0;
}

section .experience-wrapper li {
    margin: 0.5rem 0;
}

section .about-wrapper {
    min-height: 60vh;
}

section .about-wrapper article iframe {
    width: 100%;
    min-height: 40vh;
}

section .about-wrapper h4 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

section .about-wrapper ul {
    list-style: circle;
    line-height: 2;
    padding-left: 1.5rem;
}

section .about-wrapper li {
    margin-bottom: 0.5rem;
}

section .contact-wrapper {
    display: flex;
    justify-content: center;
}

section .contact-wrapper form {
    -webkit-box-shadow: 0 6px 24px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 6px 24px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 6px 24px -5px rgba(0, 0, 0, 0.75);
    border-radius: 0.4rem;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
}

section .contact-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

section .contact-wrapper label {
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

section .contact-wrapper input,
section .contact-wrapper select,
section .contact-wrapper textarea {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #cccccc;
    width: 100%;
}

section .contact-wrapper textarea {
    resize: none;
}

section .contact-wrapper button {
    background: none;
    border: 1px solid #004c00a6;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    float: right;
    text-transform: uppercase;
    font-weight: 700;
    color: #004c00a6;
    text-align: center;
    width: 100%;
}

section .contact-wrapper span {
    color: red;
    font-size: 0.8rem;
}

section .contact-wrapper form footer {
    display: inline-block;
    background-color: #d1fff2;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
    font-weight: 500;
}

section .contact-wrapper li {
    margin: 0.5rem 0;
    width: 100%;
}

/*Header Animation*/

.title-wrapper .title {
    position: relative;
    height: 6rem;
}

.title-wrapper .title > * {
    position: absolute;
    top: 0;
}

.title-wrapper .title > * {
    animation: giggle 1s ease infinite;
    mix-blend-mode: difference;
}

.title-wrapper .title .red {
    color: #ff0000;
}

.title-wrapper .title .green {
    color: #00ff00;
    animation-delay: -0.67s;
}

.title-wrapper .title .blue {
    color: #0000ff;
    animation-delay: -0.33s;
}

@keyframes giggle {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(-2px);
    }
    50% {
        transform: translate(-50%, -50%) translateY(2px);
    }
}

@keyframes lines {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 25px;
    }
}

@media screen and (min-width: 576px) {

    section > article,
    section .studies-wrapper,
    section .experience-wrapper,
    section .about-wrapper {
        padding: 2rem 5rem;
    }

    section#home h1 {
        font-size: 4rem;
    }

    section#home p {
        font-size: 2rem;
    }

    /*introduction*/
    section .introduce-wrapper {
        padding-top: 0;
    }

    /*studies*/
    section .studies-wrapper article {
        width: 44%;
        margin: 2% 3%;
    }

    /*contact*/
    section .contact-wrapper form {
        padding: 1.5rem;
        width: 80%;
    }

}

@media screen and (min-width: 768px) {
    .content-wrapper {
        margin-left: 70px;
    }

    .main-header nav {
        width: 70px;
    }

    .main-header nav .fa-bars {
        display: block;
    }

    .main-header nav .fa-times {
        display: none;
    }

    .main-header:hover nav {
        width: 200px;
    }

    .main-header li a:hover {
        background-color: #595959;
    }

    .main-header:hover li span {
        display: inline-block;
    }

    .main-header:hover li a {
        justify-content: start;
    }

    .main-header:hover .header-bars {
        text-align: left;
    }

    /*introduction*/
    section .introduce-wrapper {
        display: flex;
    }

    section .introduce-paragraph {
        width: 50%;
        margin: 0 5%;
        font-size: 1.2rem;
        text-align: left;
    }

    section .introduce-image {
        width: 30%;
        margin: 0 5%;
    }

    /*experience*/
    section .experience-wrapper article {
        width: 80%;
        padding: 1rem 3rem;
    }

    /*contact*/
    section .contact-wrapper form {
        padding: 1.5rem 2rem;
        width: 80%;
    }

    section .contact-wrapper li {
        margin-bottom: 1.5rem;
        display: inline-block;
        width: 47.5%;
    }

    section .contact-wrapper li:nth-child(odd) {
        margin-right: 5%;
    }

    section .contact-wrapper li:last-child {
        margin-right: 0;
        width: 100%;
    }

    section .contact-wrapper button {
        width: auto;
    }
}

@media screen and (min-width: 992px) {
    /*studies*/
    section .studies-wrapper article {
        width: 20%;
        margin: 2% 8%;
    }

    /*experience*/
    section .experience-wrapper article {
        width: 60%;
    }

    /*about*/
    section .about-wrapper {
        display: flex;
        align-items: center;
    }

    section .about-wrapper article:first-child {
        width: 40%;
        margin: 0 5%;
    }

    section .about-wrapper article:last-child {
        width: 40%;
        margin: 0 5%;
    }

    section .about-wrapper h4 {
        font-size: 1.8rem;
        margin-bottom: inherit;
    }

    /*contact*/
    section .contact-wrapper form {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {

}